.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-header {
  background-color: tomato;
  min-height: 100px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
}

.app-header-container {
  min-width: 480px;
  margin: 0 auto;
  padding: 0 40px;
}

.app-header-menu {
  display: flex;
  justify-content: space-between;
}

.app-header-menu li {
  list-style: none;
  font-size: 24px;
}

.app-header-menu a {
  text-decoration: none;
  color: white;
}

.Content {
  flex: 1;
  padding: 40px;
}

h1 {
  padding: 100px 0 20px;
}

.quote {
  padding: 15px 0;
  list-style: none;
}

.quote-author {
  font-size: 22px;
  font-weight: bold;
}

.quote-text {
  font-size: 20px;
}

.button-container {
  padding: 10px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
}

.button {
  background-color: tomato;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 16px;
}